OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.openai-proxy.org/v1
OPENAI_MODEL=gpt-5.2-codex
LCEL_DEBUG=false
LCEL_STRUCTURED_RETRY_COUNT=1
EMBEDDING_MODEL=BAAI/bge-large-zh-v1.5
META_DB_HOST=127.0.0.1
META_DB_PORT=3306
META_DB_USER=data_agent
META_DB_PASSWORD=DataAgent.123
META_DB_NAME=meta
DW_DB_HOST=127.0.0.1
DW_DB_PORT=3306
DW_DB_USER=data_agent
DW_DB_PASSWORD=DataAgent.123
DW_DB_NAME=dw
QDRANT_HOST=127.0.0.1
QDRANT_PORT=6333
QDRANT_EMBEDDING_SIZE=1024
ES_HOST=127.0.0.1
ES_PORT=19200
ES_INDEX_NAME=data_agent
EMBEDDING_HOST=127.0.0.1
EMBEDDING_PORT=8081
